.wrap{
  display: grid;
  grid-template-columns: repeat(4, 56px);
  grid-column-gap: 22px;
  grid-row-gap: 17px;
  margin-top: 33px;
  margin-left: 25px;
  height: 60vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 122, 255, 0.4);

  }
  .paletteItem{
    padding: 7px;
  }
  .paletteCard{
  }

  .colorPalette{
    width: 100%;
    position: absolute;
    right: -240px;
    top: 0
  }

}
