button{
  margin-top: 48px;
  padding: 14px;
  background: #007AFF;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.408px;
  color: #FFFFFF;
  width: 100%;
  cursor: pointer;
}